
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container{
  padding:0 3vw;  
}
nav{
  font-family: "Wix Madefor Text", sans-serif;
  width:100%;
  height:18vh;
}
nav ul a{
  color: #395AF0;
  text-decoration: none;
}
nav ul{
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.logo img{
 height:10vh;
}
.nav-logo{
  display: flex;
  align-items: center;

}

.nav-logo p{
  font-size: 2.8vw;
  font-weight: 600;
  padding-left: 1vw;
}
.nav-links{
  width:50%;
  display: flex;
  gap:4vw;
  justify-content: flex-end;
}

.nav-links p{
  font-size: 1.4vw;
  font-weight: 500;
}
.fa-solid{
  color: #395AF0;
  font-size: 2vw;
  padding-right: 0.4vw;
}
.fa-bars{
  display: none;
}

main{
  
  padding-top: 1vw;
  position: relative;
  height:90vh;
}
main > div:nth-child(1){
  height:90vh;
  width:40vw;
  position: absolute;
  right:0;
  overflow: hidden;
}
.heading p{
  color: #0432ff;
  font-weight: 600;
  font-size: 6vw;
  line-height: 6.4vw;
  font-family: "Familjen Grotesk", sans-serif;
}

.heading{
  position:absolute;
  top:2vw;
  left:0;
}
.consultation{
  font-family: "Familjen Grotesk", sans-serif;
  position: absolute;
  top:34vh;
  width:22vw;
  padding:0.6vw 0; 
  outline: none;
  border: 1px solid blue;
  font-size: 1.6vw;
  background-color: transparent;
  border-radius: 60px;
  color:#0432ff;
  font-weight: 200;
  transition-duration: 200ms;
}

.consultation:hover{
  background-color: blue;
  color: #F8EAF2;
  cursor: pointer;

}

.play-card-box{
  
  position:absolute;
  bottom: 0;
  width:60vw;
  display: flex;
  justify-content: center;
  gap:1vw;
  
}
.play-card-box > div:hover{
  cursor:pointer;
  transform: translateY(-4vh);
}
.play-card-box div{
  width:60%;
  padding:2vw;
  border:1px solid blue;
  border-radius:12px;
  display: flex;
  flex-direction: column;
  background-color: #f8f4f6;

  transition-duration: 300ms;

}
.play-card-box div p:nth-child(1){
  font-size: 2vw;
  font-weight: 600;
  color:#0432ff;
  font-family: "Familjen Grotesk", sans-serif;
  padding-bottom: 1vw;
  
}
.play-card-box div p:nth-child(2){
  font-size: 1.4vw;
  text-align: justify;
  color:#0432ff;
  font-family: "Familjen Grotesk", sans-serif;
  padding-bottom: 0.6vw;
}
.play-card-box div button{
  width: 100%;
  padding:1vw 0;
  text-align: start;
  outline: none;
  border:none;
  background-color: transparent;
  font-size: 1.6vw;
  color:blue;
  font-weight: 200;
  transition-duration: 200ms;
}
.play-card-box div button:hover{
  background-color: #0432ff;
  border-radius: 24px;
  padding-left: 2vw;
  color: #F8EAF2;
}

.journey{
  margin-top: 12vh;
  height:120vh;
  background-color:#BCC5F2;
  position: relative;
}

.journey-points{
  padding-top: 26vh;
  padding-left: 15vw;
}
.journey-points p:nth-child(1){
  font-size: 6vw;
  font-family: "Familjen Grotesk", sans-serif;
  text-transform:capitalize;
  font-weight: 600;
  color: #0432ff;
  padding-bottom: 8vh;

}

.journey-points p:nth-child(2){
  width:46vw;
  font-size: 1.68vw;
  font-family: "Familjen Grotesk", sans-serif;
  color: #0a2fd3;
  font-weight: 700;
  padding-bottom: 3vh;
}

.journey-points p:nth-child(3){
  font-size: 1.4vw;
  width:46vw;
  font-family: "Wix Madefor Text", sans-serif;
  color: blue;
  font-weight: 400;
  padding-bottom: 14vh;
}

.abt{
  width:20vw;
  font-size: 1.6vw;
  padding:0.8vw 0;
  border-radius: 24px;
  background-color: transparent;
  border:1px solid blue;
  color:blue;
  font-family: "Familjen Grotesk", sans-serif;
  transition-duration: 200ms;
}
.abt:hover{
  background-color: #0432ff;
  color:#F8EAF2;
  cursor: pointer;

}


.blue-page{
  background-color: blue;
  padding-bottom: 10vh;
}

.service-head{
  padding-top: 37vh;
  padding-left: 15vw;

}
.service-head p:nth-child(1){
  color: #F8EAF2;
  font-family: "Familjen Grotesk", sans-serif;
  font-size: 6vw;
  font-weight: 700;
}

.office{
  position: absolute;
  right:10vw;
  background-image: url(./Assets/PNGS/office.webp);
  background-size: cover;
  background-position: center center;
  width:46vw;
  height:60vh;
  border-radius: 18px;
}

.service-head p:nth-child(2){
  padding-top: 8vh;
  font-size: 1.4vw;
  font-weight: 400;
  font-family: "Wix Madefor Text", sans-serif;
  color: #F8EAF2;
  width:44vw;
  line-height: 2vw;
  padding-bottom: 8vh;
}


.service-head > .book{
  width:16vw;
  font-size: 1.4vw;
  padding:0.6vw 0;
  border-radius: 24px;
  outline: none;
  border: 1px solid #F8EAF2;
  color:#F8EAF2;
  background-color: transparent;
  cursor: pointer;
  transition-duration: 300ms;
}
.service-head > .book:hover{
  background-color: #D9FB99;
  color:blue;
}
.card-box{
  width:70vw;
  margin:0 auto;
  margin-top: 10vh;
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-row: 1fr 1fr;
  gap:2vw;
  cursor: pointer;
}
.card-box > div{
  padding:2.4vw;
  border: 1px solid #F8EAF2;
  border-radius: 18px;
}
.card-box > div> div>img{
  height:8vh;
}
.card-box > div:hover > div > img {
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.card-box > div> div:nth-child(2)>p{
  font-size: 2vw;
  font-family: "Familjen Grotesk", sans-serif;
  color:#F8EAF2;
  padding-bottom: 2vh;
  font-weight: 500;

}
.card-box > div> div:nth-child(3)>p{
  font-size: 1.5vw;
  color: #F8EAF2;
  width:30vw;
}



@media (min-width:600px) and (max-width:850px){
  .nav-links p{
    font-size: 1.8vw;
  }
  main{
    height:67vh;
  }
  main > div:nth-child(1){
    height:100%;
    width:50vw;
   
  }
  .consultation{
    top:26vh;
    width:24vw;
    padding:1.2vw 0;
    font-size: 2vw;
  }
  .back-pattern{
    width:50vw;
    object-fit: fill;
  }
  .play-card-box div>p:nth-child(1){
    font-size: 2.4vw;
  }
  .play-card-box div>p:nth-child(2){
    font-size: 1.5vw;
  }
  .play-card-box{
    bottom:4vh;
  }
  .journey{
    margin-top: 0vh;
  }
  .office{
    bottom:-32vh;
    right:5vw;
    width:60vw;
  }
  .service-head p:nth-child(1){
    font-size: 9vw;
  }
  .service-head p:nth-child(2){
    font-size: 2vw;
    line-height: 2.1vw;
    width:44vw;
    text-align: justify;
    
  }
  .service-head > .book{
    width:24vw;
    font-size: 2.4vw;
    padding:1.2vw 0;
    font-weight: 500;
  }
  .journey-points p:nth-child(1){
    font-size: 9vw;
  }
  .journey-points p:nth-child(2){
    font-size: 2.4vw;
    width:70vw;
  }
  .journey-points p:nth-child(3){
    font-size: 2vw;
    width:56vw;
    padding-bottom: 10vh;
  }
  .abt{
    width:22vw;
    padding:1vw 0;
    font-size: 2.4vw;
    font-weight: 500;
  }
  .card-box > div> div>img{
    height:6.4vh;
  }
  .card-box > div> div:nth-child(2)>p{
    font-size: 3vw;
  }
  .card-box > div> div:nth-child(3)>p{
    font-size: 2vw;
    line-height: 2.2vw;
  }
}

@media (min-width:600px) and (max-width:700px){
  main{
    height:60vh;
  }
  .consultation{
    top:22vh;
    width:24vw;
    padding:1.2vw 0;
    font-size: 2.1vw;
  }
  .journey{
    margin-top: 0;
  }
  .play-card-box{
    bottom:6vh;
  }
  .play-card-box div>p:nth-child(1){
    font-size: 2.4vw;
  }
  .play-card-box div>p:nth-child(2){
    font-size: 1.5vw;
  }

}


@media (max-width:599px){

  .logo img{
    height:8vh;
  } 
  .fa-solid{
    font-size: 3vw;
  }
  .nav-logo p{
    font-size: 4vw;
    font-weight: 700;
  }
  .nav-links{
    width:80%;
  }
  .nav-links p{
    font-size: 2.6vw;
    font-weight: 600;
  }
  main{
    position: relative;
    height:76vh;
  }
  main > div:nth-child(1){
    display: none;
  }
  .consultation{
    position: absolute;
    top:24vh;
    left:26vw;
    width:40vw;
    font-size: 3.4vw;
    padding:2vw 0;
    font-weight: 600;
  }
  .heading{
    width:100%;
    position: none;
  }
  .heading p{
    text-align: center;
    font-size: 8vw;
    line-height: 8vw;
  }
  .play-card-box{
    position: absolute;
    bottom:0vh ;
    width:100%;
    justify-content: center;
    align-items: center;
    gap:2vw;
  }
  .play-card-box div{
    width:auto;
    background-color: rgb(238, 240, 250);
  }
  .play-card-box div p:nth-child(1){
    font-size: 4vw;
    font-weight: 600;
  }
  .play-card-box div p:nth-child(2){
    font-size: 2.8vw;
    font-weight: 400;
    padding-bottom: 2vh;
  }
  .play-card-box div button{
    font-size: 3.8vw;
  }

 .journey{
    height:100vh;
 }
 .journey-points{
  padding-top: 20vh;
  padding-left: 0;
 }

 .journey-points p:nth-child(1){
  text-align: center;
    font-size: 10vw;
    padding-bottom: 6vh;
 }
 .journey-points p:nth-child(2){
  width:100%;
  text-align: center;
  font-size: 3.4vw;

 }
 .journey-points p:nth-child(3){
  margin:0 auto;
  width:80%;
  font-size: 2.8vw;
  text-align: center;
  padding-bottom: 8vh;
 }
 .abt{
  margin-left: 35%;
  font-size: 3vw;
  width:25vw
 }
 .office{
  bottom:-34vw;
  left:5vw;
  width:90%;
  height: 56vh;
  background-size: cover;
  background-repeat: no-repeat;
 }
 .service-head{
  padding-top: 46vh;
  padding-left: 0;
  
 }
 .service-head > p:nth-child(1){
    text-align: center;
    font-size: 10vw;
 }
 .service-head > p:nth-child(2){
  text-align: center;
  width: 100%;
  font-size: 3vw;
  line-height: 3.4vw;
 }
 .service-head > .book{
    margin-left:40vw;
    font-size: 3.4vw;
    font-weight: 500;
    width:24vw;
    padding:1.6vw 0;
 }

 .card-box{
  width:80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:7vh;
 }
 .card-box > div> div>img{
  height:10vh;
 }
 .card-box > div{
  width:auto;
  padding:1vw;
  height:auto;
 }
 .card-box > div> div:nth-child(2)>p{
  font-size: 7vw;
  text-align: center;

 }
 .card-box > div> div:nth-child(3)>p{
  margin:0 auto;
  width: 90%;
  font-size: 4vw;
  text-align: center;
  padding-bottom: 4vh;
 }
}

@media (max-width:500px){

  main{
    height: 120vh;
  }
  .logo img{
    height:8vh;
  }
  .nav-logo p{
    font-size: 8vw;
  }
  .nav-links >p{
    display: none;
  }
  .nav-links > .fa-bars{
    font-size: 7vw;
    display: block;

  }
  .heading{
    top:5vw;
  }
  .heading p{
    font-size: 9vw;
    line-height: 10vw;
  }
  .consultation{
    top:26vh;
    width:50vw;
    font-size: 4vw;
    left:20vw;
  }
  .play-card-box{
    bottom:10vh;
    flex-direction: column;
    align-items: center;
    gap:4vh; 
  }
  .play-card-box div{
    height:auto;
  }
  .play-card-box div p:nth-child(1){
    font-size: 6vw;
    padding-bottom: 2vh;
  }
  .play-card-box div p:nth-child(2){
    font-size: 4vw;
    padding-bottom: 5vh;

  }
  .play-card-box > div:hover{
    transform: translateY(-2vh);
  }
  .journey-points{
    padding-top: 14vh;
  }
  .play-card-box div button{
    padding: 1.4vw 2vw;
    font-size: 4vw;
  }
  .journey-points p:nth-child(1){
    font-size: 11vw;

  }
  .journey-points p:nth-child(2){
    font-size: 3.5vw;
  }
  .journey-points p:nth-child(3){
    font-size: 3.2vw;
    line-height: 4vw;
  }
  .back-pattern{
    height:60vh;
  }
  .abt{
    padding:1.6vw 0; 
    width:30vw;
    font-size: 4vw;
  }
  .service-head{
    padding-top: 36vh;
    padding-bottom: 3vh;
  }
  .service-head >.book{
    width:30vw;
    position: absolute;
    left:-6vw;
    font-size: 4vw;
  }

  .service-head p:nth-child(1){
   
    font-size: 14vw;
  }
  .service-head p:nth-child(2){
    padding-top: 4vh;
    font-size: 3vw;
    line-height: 3.3vw;
  }
  .card-box div{
   height:auto;

  }
  .card-box > div> div:nth-child(2)>p{

    font-size: 7.4vw;
  }
  .card-box > div> div:nth-child(3)>p{
    font-size: 4vw;
    width:90%;
    padding-bottom: 4vh;
    
  }
  
}


@media (max-width:430px){
  main{
    height:110vh;
  }
  .consultation{
    top:18vh;
  }
  .play-card-box{
    position: absolute;
    gap:4vh;
    top:30vh;
  }
  .play-card-box div{
    width:90%;
    height:auto;
  }
  .play-card-box div p:nth-child(1){
    font-size: 5vw;
    padding-bottom: 2vh;
  }
  .play-card-box div p:nth-child(2){
    font-size: 4vw;
    padding-bottom: 5vh;

  }
  .play-card-box > div:hover{
    cursor:pointer;
    transform: translateY(-2vh);
  }
  .journey{
    margin-top: 0;
    height:80vh;
  }
  .office{
    height:40vh;
  }

  .service-head{
    padding-top: 24vh;
  }
  .card-box div{
    height:auto;
    padding: 2vw;
  }
  .card-box > div> div>img{
    height:7vh;
  }
  .card-box > div> div:nth-child(2)>p{
    font-size: 7.4vw;
    padding-bottom: 0;
  }
  .card-box > div> div:nth-child(3)>p{
    font-size: 5vw;
    width:100%;
  }
  .journey-points p:nth-child(3){
    font-size: 3.8vw;
    padding-bottom: 4vh;
  }
  .journey-points p:nth-child(2){
    font-size: 3.5vw;
  }
  .service-head p:nth-child(2){
    font-size: 3.4vw;
    line-height: 4vw;
  }
  
}